@import "../../styles/variables";

.projects {
  .projects__title {
    width: 95.85%;
    margin: auto;
  }
}

.projects__container {
  position: relative;
  margin: 0 auto;
  column-gap: 3rem;
  margin: 60px auto 80px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  .swiper-container {
    position: relative;
  }

  .swiper {
    width: 100%;
    padding: 60px 0 95px 0;
  }

  .swiper-slide {
    width: 10rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    position: relative;
    transform: translateX(0);
    -webkit-transform: translateX(0);

    /* .slide-content {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -45%);
      width: 90%;
      display: grid;
      justify-items: center;
    }

    .carousel__description {
      padding: 25px 0 10px 0;
      cursor: grab;
    }

    .carousel__img {
      cursor: grab;
    }

    .circle {
      grid-template-columns: 1fr;
      justify-items: center;
      position: absolute;
      bottom: 10px;
      width: 100%;
      display: none;
      opacity: 0;
      z-index: -10;
    }*/
  }

  /*.swiper-slide-active .slide-content .carousel__description {
    padding: 50px 0 10px 0;
  }

  .swiper-slide-active .circle {
    display: grid;
    opacity: 1;
  }*/

  .carousel__control {
    display: flex;
    justify-content: center;
    height: 28px;
    align-content: center;
  }

  .carousel__btn {
    align-self: center;
    cursor: pointer;
    margin: 0 30px;
  }

  .carousel__count {
    align-self: end;
  }
}

.swiper-wrapper {
  width: 300% !important;
}

@media screen and (max-width: $mobile-query) {
  .projects__container {
    .swiper {
      padding-top: 0px;
      padding-bottom: 10px;
    }
    /*.swiper-slide {
      .carousel__img {
        width: 220px;
        cursor: pointer;
      }
      .carousel__description {
        cursor: pointer;
      }
      .circle {
        bottom: 85px;
      }
    }
     */
  }
}

@media screen and (max-width: 414px) {
  .projects__container {
    .swiper {
      padding-top: 0px;
      padding-bottom: 40px;
    }
    /*.swiper-slide {
      .carousel__img {
        width: 240px;
        cursor: pointer;
      }
      .carousel__description {
        cursor: pointer;
      }
      .circle {
        bottom: 65px;
      }
    }
    */
  }
}
