@import "../../../styles/variables.scss";

.cardContent {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 90%;
  display: grid;
  justify-items: center;

  .cardContent__description {
    padding: 45px 0 10px 0;
    cursor: grab;
  }

  .cardContent__img {
    cursor: grab;
  }
}

.circle {
  grid-template-columns: 1fr;
  justify-items: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: -10;
}

.swiper-slide-active .slide-content .carousel__description {
  padding: 50px 0 10px 0;
}

.swiper-slide-active .circle {
  display: grid;
  opacity: 1;
}

@media screen and (max-width: $mobile-query) {
  .cardContent {
    .cardContent__img {
      width: 220px;
      cursor: pointer;
    }
    .cardContent__description {
      cursor: pointer;
    }
  }
  .circle {
    bottom: 85px;
  }
}

@media screen and (max-width: 414px) {
  .cardContent {
    .cardContent__img {
      width: 240px;
      cursor: pointer;
    }
    .cardContent__description {
      cursor: pointer;
    }
  }

  .circle {
    bottom: 75px;
  }
}
