---
import { Welcome, Footer, About, Services } from "@/components";
import { Layout } from "@/layouts";
import { servicesConfig } from "@/utils";
---

<Layout title="Audioguides">
  <main>
    <Welcome
      title="AUDIOGUIDES.ru"
      slogan="sound of culture, culture of sound"
      order="Order an audio guide"
      isCurrentLanguageEn
    />
    <About
      title="About"
      benefitTitleAudio="Audio"
      benefitDescriptionAudio="Voice acting with actors and announcers"
      benefitTitleText="Text"
      benefitDescriptionText="Writing, editing, translation by native speakers"
      benefitTitleEquipment="Equipment"
      benefitDescriptionEquipment="Rental and sale of equipment for tours"
      videoWebm="../../../public/videos/audioguidesEn.webm"
      videoMp4="../../../public/videos/audioguidesEn.mp4"
    />
    <Services title="наши услуги" servicesConfig={servicesConfig} />
  </main>
  <Footer
    copyright="Audioguides.ru. Saint Petersburg. All rights reserved."
    textUp="Back to top"
  />
</Layout>
