---
import {
  Welcome,
  Footer,
  About,
  Services,
  Projects,
  Companies,
  Contacts,
  Header,
} from "@/components";
import { Layout } from "@/layouts";
import { servicesConfig, projectsConfig, companiesConfig } from "@/utils";

const servicesConfigEn = servicesConfig.map(({ img, descriptionEn }) => ({
  img,
  descriptionEn,
}));

const projectsConfigEn = projectsConfig.map(({ link, img, titleEn }) => ({
  link,
  img,
  titleEn,
}));

const companiesConfigEn = companiesConfig.map(({ img, titleRu }) => ({
  img,
  titleRu,
}));
---

<Layout title="Audioguides">
  <Header
    services="services"
    portfolio="portfolio"
    clients="clients"
    contacts="contacts"
  />
  <main>
    <Welcome
      title="AUDIOGUIDES.ru"
      slogan="sound of culture, culture of sound"
      order="Order an audio guide"
      isCurrentLanguageEn
    />
    <About
      title="About"
      benefitTitleAudio="Audio"
      benefitDescriptionAudio="Voice acting with actors and announcers"
      benefitTitleText="Text"
      benefitDescriptionText="Writing, editing, translation by native speakers"
      benefitTitleEquipment="Equipment"
      benefitDescriptionEquipment="Rental and sale of equipment for tours"
      videoMp4="/videos/audioguidesEn.mp4"
    />
    <Services title="services" servicesConfig={servicesConfigEn} />
    <Projects title="portfolio" projectsConfig={projectsConfigEn} />
    <Companies title="clients" companiesConfig={companiesConfigEn} />
    <Contacts
      title="contacts"
      contacts="contacts"
      receive="Receive our newsletter"
      placeholder="Enter your email..."
      error="Invalid email address"
      successOne="You have successfully subscribed to the email list!"
      successTwo="You will receive an email to confirm your subscription."
      subscribe="Subscribe"
    />
  </main>
  <Footer
    copyright="Audioguides.ru. Saint Petersburg. All rights reserved."
    textUp="Back to top"
  />
</Layout>
