---
import { Welcome } from "@/components";
import { Layout } from "@/layouts";
---

<Layout title="Audioguides">
  <main>
    <Welcome
      title="AUDIOGUIDES.ru"
      slogan="sound of culture, culture of sound"
      order="Order an audio guide"
      isCurrentLanguageEn
    />
  </main>
</Layout>
