---
import { Welcome, Footer } from "@/components";
import { Layout } from "@/layouts";
---

<Layout title="Audioguides">
  <main>
    <Welcome
      title="AUDIOGUIDES.ru"
      slogan="sound of culture, culture of sound"
      order="Order an audio guide"
      isCurrentLanguageEn
    />
  </main>
  <Footer
    copyright="Audioguides.ru. Saint Petersburg. All rights reserved."
    textUp="Back to top"
  />
</Layout>
