@import "../../../styles/variables";

.service {
  display: grid;
  gap: 33px;
  justify-items: center;

  .service__text {
    text-align: center;
  }
}

@media screen and (max-width: $mobile-query) {
  .service {
    width: 80%;
    margin: auto;
    gap: 20px;

    .service__img {
      width: 70px;
    }
  }
}
