---
import { Welcome, Footer, About, Services } from "@/components";
import { Layout } from "@/layouts";
import {servicesConfig} from "@/utils";
---

<Layout
  title="Аудиогиды: написание, озвучка, перевод носителями языков — студия Аудиогиды.ру"
>
  <main>
    <Welcome
      title="АУДИОГИДЫ.ру"
      slogan="лучше один раз услышать"
      order="Заказать аудиогид"
      isCurrentLanguageRu
    />
    <About
      title="О нас"
      benefitTitleAudio="Аудио"
      benefitDescriptionAudio="Озвучка с актёрами и дикторами — носителями языков"
      benefitTitleText="Текст"
      benefitDescriptionText="Написание, редактура, перевод носителями языков"
      benefitTitleEquipment="Оборудование"
      benefitDescriptionEquipment="Аренда и продажа оборудования для экскурсий"
      videoWebm="../../../public/videos/audioguidesRu.webm"
      videoMp4="../../../public/videos/audioguidesRu.mp4"
    />
    <Services title="наши услуги" servicesConfig={servicesConfig} />
  </main>
    <Footer
      copyright="Аудиогиды.ру. Санкт-Петербург. Все права защищены."
      textUp="В начало"
    />
</Layout>
