---
import { Welcome, Footer } from "@/components";
import { Layout } from "@/layouts";
---

<Layout
  title="Аудиогиды: написание, озвучка, перевод носителями языков — студия Аудиогиды.ру"
>
  <main>
    <Welcome
      title="АУДИОГИДЫ.ру"
      slogan="лучше один раз услышать"
      order="Заказать аудиогид"
      isCurrentLanguageRu
    />
    <Footer copyright="Аудиогиды.ру. Санкт-Петербург. Все права защищены." textUp="В начало" />
  </main>
</Layout>
