---
import {
  Welcome,
  Footer,
  About,
  Services,
  Projects,
  Companies,
  Contacts,
  Header,
} from "@/components";
import { Layout } from "@/layouts";
import { servicesConfig, projectsConfig, companiesConfig } from "@/utils";

const servicesConfigRu = servicesConfig.map(({ img, descriptionRu }) => ({
  img,
  descriptionRu,
}));

const projectsConfigRu = projectsConfig.map(({ link, img, titleRu }) => ({
  link,
  img,
  titleRu,
}));

const companiesConfigRu = companiesConfig.map(({ img, titleRu }) => ({
  img,
  titleRu,
}));
---

<Layout
  title="Аудиогиды: написание, озвучка, перевод носителями языков — студия Аудиогиды.ру"
  description="В студии Аудиогиды.ру мы создаём контент для музеев и культурных организаций (текст, аудио). Мультимедийные аудиогиды: написание, редактура, озвучка, публикация на izi.TRAVEL, аудиоквесты, туры для музеев и выставок, полный цикл работ."
  keywords="аудиогид, скачать бесплатно, автобус, стоимость, купить, заказать, аудио гид, студия, оборудование, аренда, перевод, английский, китайский, студийная запись, экскурсия, мобильный"
>
  <Header
    services="услуги"
    portfolio="портфолио"
    clients="клиенты"
    contacts="контакты"
  />
  <main>
    <Welcome
      title="АУДИОГИДЫ.ру"
      slogan="лучше один раз услышать"
      order="Заказать аудиогид"
      isCurrentLanguageRu
    />
    <About
      title="О нас"
      benefitTitleAudio="Аудио"
      benefitDescriptionAudio="Озвучка с актёрами и дикторами — носителями языков"
      benefitTitleText="Текст"
      benefitDescriptionText="Написание, редактура, перевод носителями языков"
      benefitTitleEquipment="Оборудование"
      benefitDescriptionEquipment="Аренда и продажа оборудования для экскурсий"
      videoMp4="/videos/audioguidesRu.mp4"
    />
    <Services title="наши услуги" servicesConfig={servicesConfigRu} />
    <Projects title="наши работы" projectsConfig={projectsConfigRu} />
    <Companies title="с кем мы работали" companiesConfig={companiesConfigRu} />
    <Contacts
      title="связаться с нами"
      contacts="Контакты"
      receive="Получайте нашу рассылку"
      placeholder="Введите ваш e-mail…"
      error="Некорректный электронный адрес"
      successOne="Вы успешно подписались на рассылку!"
      successTwo="На Вашу почту придет письмо с подтверждением."
      subscribe="подписаться"
    />
  </main>
  <Footer
    copyright="Аудиогиды.ру. Санкт-Петербург. Все права защищены."
    textUp="В начало"
  />
</Layout>
