---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<svg class="hover-svg" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" class={className}>
	<title id="vkontakte">VK</title>
	<circle cx="20" cy="20" r="19"></circle>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M8.01723 13.3149C8.13393 15.4478 8.29136 16.5738 8.68411 18.0848C9.60777 21.638 11.512 24.321 14.2247 25.8914C15.3244 26.528 16.6006 27.0031 17.9248 27.2689C18.8654 27.4577 19.5872 27.5329 20.6623 27.5541L21.538 27.5714V24.9711V22.3707L21.609 22.3709C21.6481 22.3709 21.8094 22.3914 21.9676 22.4164C24.5259 22.8204 26.6668 24.6512 27.6444 27.2712L27.7476 27.5477L29.8803 27.5556C31.5815 27.5619 32.0103 27.5557 31.9998 27.5249C31.9926 27.5036 31.9418 27.3411 31.8868 27.1636C31.2136 24.9906 29.7377 22.9119 27.8475 21.4746C27.3858 21.1235 26.7033 20.6898 26.249 20.4586L25.8637 20.2626L26.2575 20.0099C27.4134 19.2683 28.6116 18.104 29.4245 16.9326C30.2148 15.7938 30.7637 14.5754 31.0332 13.3615C31.0697 13.1971 31.0996 13.0484 31.0996 13.031C31.0996 13.0098 30.4725 13.0021 29.1711 13.0074L27.2427 13.0154L27.11 13.3995C26.3246 15.6732 24.522 17.7292 22.6673 18.4668C22.3524 18.592 21.7803 18.7453 21.628 18.7453H21.538V15.8727V13H19.6131H17.6881V18.0387C17.6881 22.3426 17.6817 23.0774 17.6439 23.0774C17.5577 23.0774 16.9484 22.8562 16.6968 22.7335C16.4127 22.595 16.0033 22.343 15.7159 22.1295C15.4223 21.9115 14.8362 21.3431 14.5548 21.0035C13.1199 19.272 12.2559 16.5987 12.1442 13.5453L12.1243 13H10.0621H8L8.01723 13.3149Z"></path>
</svg>