---
import "../styles/global.scss";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="В студии Аудиогиды.ру мы создаём контент для музеев и культурных организаций (текст, аудио). Мультимедийные аудиогиды: написание, редактура, озвучка, публикация на izi.TRAVEL, аудиоквесты, туры для музеев и выставок, полный цикл работ."
    />
    <meta
      name="keywords"
      content="аудиогид, скачать бесплатно, автобус, стоимость, купить, заказать, аудио гид, студия, оборудование, аренда, перевод, английский, китайский, студийная запись, экскурсия, мобильный"
    />
    <meta property="og:image" content="../images/og_audioguides.png" />
  </head>
  <body>
    <slot />
  </body>
</html>
